nltk==3.6.2
scikit_learn==0.24.2
tabulate==0.8.9
textract==1.6.3
spacy==3.0.6
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm